@page "/"

<h1>Hi there 👋</h1>


Welcome to my portfolio. My name is Marcelo Santos, I love coding!

<hr />

<h4>Personal Resume</h4>
<p>@personalResume</p>

<hr />

<h4>Professional Resume</h4>
<p>@professionalResume</p>

<hr/>



<footer>
<div class="alert alert-secondary mt-4" role="alert">
    <a href="https://pt.wikipedia.org/wiki/S%C3%A3o_Paulo"
       target="_blank"><span class="oi oi-home mr-2" aria-hidden="true"></span> @address </a> -

    <a href="whatsapp://send?phone=@phone&text=Hi Marcelo"
       data-action="share/whatsapp/share"
       target="_blank">
        <span class="oi oi-phone mr-2" aria-hidden="true"></span> @phone
    </a>
    -
    <a href="mailto:@email" class="ml-md-auto"><span class="oi oi-envelope-closed mr-2" aria-hidden="true"></span> @email</a>
</div>
</footer>

@code {
    private string address = "São Paulo, Brasil";
    private string phone = "(11) 95163 7080";
    private string email = "marcelosantostecnologia@gmail.com";
    private string personalResume = "I'm a brazilian software developer focused in Web and Process. Curious, thirsty to learn and self-taught to gain knowledge. In my free time, I usually play poker and go out with my family.";
    private string professionalResume = "My best skills are realted with .Net platform and Microsoft Tools. I also have knowledge and skills to work with JavaScript and other languages.";
}