@page "/interests"

<h3>Interests</h3>
<hr />

<div class="row">
    <div class="col-md-12">
        <p>
            I've never been able to stay in comfort zone in my professional life. I always seek to learn more and be updated in the development market.
        </p>
        <p>
            I want to be able to evolve my knowledges/skills and be able to help other people in the area of web development. Besides that, I want to be able to create / develop solutions and tools that help the daily of the people and the companies.
        </p>
        <p>
            My next step is to become a Microsoft Valuable Professional (MVP) to help more people in development area and developers communities.
        </p>
    </div>
</div>


@code {

}