<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Marcelo Santos</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> About Me
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="experiences">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Experience
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="educations">
                <span class="oi oi-book" aria-hidden="true"></span> Education
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="oi oi-task" aria-hidden="true"></span> Skills
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="interests">
                <span class="oi oi-bell" aria-hidden="true"></span> Interests
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="awards">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Awards
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-project" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
